

#header {
  height: 15vh;
  background-color: forestgreen;
}

#worldStatusBar, #worldStatusBar td {
  text-align: center;
  border: 1px solid black;
}

#detailsBtn {
  cursor: pointer;
}

.coronaInfo {
  font-family: 'Raleway', sans-serif;
  padding-top: 1%;
}

#info {
  display: none;
}

#countryData {
  display: none;
  float: left;
}

#countryDetails {
  margin-top: 1%;
  display: block;
}

#dataTable {
  border: 1px solid black;
  margin: 1%;
}

#dataTable th {
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
}

#dataTable td {
  border: 1px solid black;
}

#infoBtn {
  float: right;
}

.detailsBtn {
  cursor: pointer;
}

.countryName {
  float: left;
}

.countryInfo {
  float: right;
}

#countryDetails table {
  width: 100%;
}

#countryDetails table td {
  width: 50%;
  font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: 786px) {


}

@media only screen and (max-width: 425px) {


}
