

#header {
  height: 15vh;
  background-color: forestgreen;
}

#worldStatusBar, #worldStatusBar td {
  text-align: center;
  border: 1px solid black;
}

#detailsBtn {
  cursor: pointer;
}

.coronaInfo {
  font-family: 'Raleway', sans-serif;
  padding-top: 1%;
}

#info {
  display: block;
}

#overview {
  display: none;
}

#summary {
  margin-top: 1%;
  height: 100%;
  float: left;
}

.flag {
  float: left;
}

.details {
  float: right;
}

#overviewTable {
  border: 1px solid black;
  margin: 1%;
}

#overviewTable th {
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
}

#overviewTable td {
  border: 1px solid black;
}

#infoBtn {
  float: right;
}

.detailsBtn {
  cursor: pointer;
}

/* detail  */

@media only screen and (max-width: 786px) {


}

@media only screen and (max-width: 425px) {


}
