

h1 {
  font-family: 'Comic Neue', cursive;
  color: white;
  text-transform: uppercase;
  padding: 2%;
}

h2 {
  font-family: 'Nanum Gothic Coding', monospace;
}

h3 {
  font-family: 'Source Code Pro', monospace;
}

.left {
  float: left;
}

.right {
  float: right;
}

.red {
  color: red;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

#header {
  height: 15vh;
  background-color: forestgreen;
}

#worldStatusBar, #worldStatusBar td {
  text-align: center;
  border: 1px solid black;
}

#detailsBtn {
  cursor: pointer;
}

.coronaInfo {
  font-family: 'Raleway', sans-serif;
  padding-top: 1%;
}

#info {
  display: none;
}

#countryData {
  display: block;
  float: left;
}

#detailsTable {
  border: 1px solid black;
  margin: 1%;
}

#detailsTable th {
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
}

#detailsTable td {
  border: 1px solid black;
}

#infoBtn {
  float: right;
}

@media only screen and (max-width: 786px) {


}

@media only screen and (max-width: 425px) {


}
