

h1 {
  font-family: 'Comic Neue', cursive;
  color: white;
  text-transform: uppercase;
  padding: 2%;
  cursor: pointer;
}

h2 {
  font-family: 'Nanum Gothic Coding', monospace;
}

h3 {
  font-family: 'Source Code Pro', monospace;
}

.left {
  float: left;
}

.right {
  float: right;
}

.red {
  color: red;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.backRed {
  background-color: red;
}

.backYellow {
  background-color: yellow;
}

.fullTable {
  display: table-cell;
}

.tabTable {
  display: none;
}

.mobileTable {
  display: none;
}

@media only screen and (max-width: 786px) {

.fullTable {
  display: none;
}

.tabTable {
  display: table-cell;
}

.mobile {
  display: none;
}

}

@media only screen and (max-width: 425px) {

.fullTable {
  display: none;
}

.tabTable {
  display: none;
}

.mobileTable {
  display: table-cell;
}

}
