
#historyBtn {
    display: none;
    float: right;
    margin: 2%;
}

#afgSummary, #afgHist, #albSummary, #albHist, #algSummary, #algHist, #andSummary, #andHist, #angSummary, #angHist {
    display: none;
}

#anuSummary, #anuHist, #aabSummary, #aabHist, #argSummary, #argHist, #armSummary, #armHist, #aruSummary, #aruHist {
    display: none;
}

#ausSummary, #ausHist, #autSummary, #autHist, #azeSummary, #azeHist {
    display: none;
}

.historyTable {
    /* display: none; */
    margin: 2% 5%;
}

.historyTable table td, .historyTable table th {
    border: 1px solid black;
    text-align: center;
}
